RSS READER TO GOOGLE SHEETS/RSS READER WITHOUT DUPLICATES.json
{
  "name": "RSS READER WITHOUT DUPLICATES",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3080,
        360
      ],
      "id": "abe6ed52-40ac-4ed5-abea-419d94505509",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Document }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json[\"Rss Feeds\"] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2380,
        280
      ],
      "id": "43696041-99ea-4d24-b677-d025bb556544",
      "name": "Get RSS Feed List",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      },
      "notes": "Get feeds Url's  from Google Sheet"
    },
    {
      "parameters": {
        "url": "={{ $json[\"RSS URL\"] }}",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1900,
        480
      ],
      "id": "02fc9382-dd56-4af0-8c1c-9f3c83461b05",
      "name": "Read RSS",
      "executeOnce": true,
      "notesInFlow": true,
      "notes": "This read RSS channel"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1340,
        -200
      ],
      "id": "c39a746a-639e-4d21-9dac-6974bb52a030",
      "name": "Loop Over Rss Elements"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Settings').item.json.Document }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Settings').item.json[\"Articles Sheet\"] }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "link",
              "lookupValue": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1120,
        -180
      ],
      "id": "b7f5ad99-0ea3-45b6-ae0b-07458a4255b3",
      "name": "Get Row for URL is in Sheets",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      },
      "notes": "Check if the record with the link exists in Google Sheets"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "ignore": "img,form",
          "blockElements": ""
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -240,
        -200
      ],
      "id": "05c8ff40-8232-4683-950a-37fa60d87eb2",
      "name": "Convert HTML to Markdown",
      "notesInFlow": true,
      "notes": "Markdown is more friendly LLM format than HTML"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Settings').item.json.Document }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Settings').item.json[\"Articles Sheet\"] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $('Loop Over Rss Elements').item.json.link }}",
            "pubDate": "={{ $('Loop Over Rss Elements').item.json.pubDate.toDateTime().format('yyyy-MM-dd HH:mm').toDateTime() }}",
            "title": "={{ $('Loop Over Rss Elements').item.json.title }}",
            "categories": "={{ $('Loop Over Rss Elements').item.json.categories.toJsonString() }}",
            "ai summary": "={{ $json.text }}",
            "source": "={{ $('Loop Over Rss Elements').item.json[\"RSS NAME\"] }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai summary",
              "displayName": "ai summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        580,
        -40
      ],
      "id": "6708c44c-e1a5-4f2b-9780-c980c7a95053",
      "name": "Append Aummary to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72a6cb17-fefb-44c6-b2d5-348ce57e8270",
              "name": "RSS NAME",
              "value": "={{ $('Loop Over Items').item.json[\"RSS NAME\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        480
      ],
      "id": "366e157b-9ff0-4913-b993-7d37c3252fe2",
      "name": "Combine Rss with source name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2fe5727-5ae3-40fe-86c5-e2ad6288303b",
              "leftValue": "={{ $item(\"0\").$node[\"Get Row for URL is in Sheets\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -900,
        -180
      ],
      "id": "29f5c69a-c6ea-4191-bff5-914044efb76e",
      "name": "Check If Article Exists",
      "notesInFlow": true,
      "notes": "We check if the object is empty"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi Gemma Summarize This:\n\n<basic_information>\n- Date: {{ $('Loop Over Rss Elements').item.json.isoDate }}\n- Title: {{ $('Loop Over Rss Elements').item.json.title }}\n- Author/Source: {{ $('Loop Over Rss Elements').item.json.creator }} / {{ $('Loop Over Rss Elements').item.json.link }}\n- Category: {{ $('Loop Over Rss Elements').item.json.categories.toJsonString() }}\n</basic_information>\n\n<content>\n{{ $json.data }}\n</content>\n\nResponse immediately without any introductory text, explanations, or commentary.",
        "messages": {
          "messageValues": [
            {
              "message": "=You Are Gemma.\n<role>\nGemma is an expert at creating concise, valuable article summaries. She can process content from various domains and specializes in extracting key information and practical insights from any type of article.\n</role>\n\n<task>\nGemma create a structured summary format of the provided article, preserving key information and practical insights.\n</task>\n\n<steps>\n- Identify main content of sended by user.\n- Prepare summary, when writing use <writing_guidelines>.\n- Make quality control based on <quality_control>.\n- Output summary driectly in Markdown frmat following <structured_summary_format>. Check <output_formatting> for guidelines.\n</steps>\n\n<writing_guidelines>\nSHOULD DO:\n- Use simple, understandable language.\n- Maintain objectivity and accuracy.\n- Extract practical insights.\n- Emphasize specific data and numbers.\n- Prioritize actionable information.\n- Adjust detail level to article length.\n- Use bullet points for better readability.\n\nSHOULD AVOID:\n- Adding her own opinions beyond the article.\n- Repeating information in different sections.\n- Using jargon without explanation.\n- Omitting important caveats/limitations.\n- Exceeding 300 words in total summary.\n- Copying entire fragments verbatim.\n</writing_guidelines>\n\n<special_cases>\n- FOR TECHNICAL ARTICLES: Gemma should explain complex terms, highlight technical requirements, and note implementation difficulty level.\n- FOR BUSINESS ARTICLES: Gemma should focus on ROI and metrics, highlight potential costs/benefits, and note target audience.\n- FOR CASE STUDIES: Gemma should describe context and challenge, present applied solution, and highlight results and success metrics.\n- TONE AND STYLE: Gemma should maintain a professional but accessible tone that is concise and concrete, focused on reader value, and action-oriented.\n</special_cases>\n\n<quality_control>\nBefore finalizing, Gemma should check:\n- Does the summary capture the essence of the article?\n- Are all sections filled?\n- Is the information accurate and verified?\n- Is the length appropriate?\n- Does the summary have practical value?\n</quality_control>\n\n<structured_summary_format>\n[1-5 sentences describing the main message of the article]\n\n## QUICK TAKEAWAYS\n\n- [3-5 most important conclusions in bullet format]\n\n## KEY POINTS\n\n- [Most important point 1]\n- [Most important point 2]\n- [Most important point 3]\n- [Most important point 4-5 if relevant]\n\n## PRACTICAL INSIGHTS\n\n- [Specific actions/recommendations]\n- [Tools/methods mentioned in the article]\n- [Metrics/numerical data if relevant]\n\n## PRACTICAL APPLICATION\n\n[How this information can be applied in business/life/relevant field]\n</structured_summary_format>\n\n<output_formatting>\nResponse immediately without any introductory text, explanations, or commentary.\nOutput formatting is Markdown.\nDo not start with block indicators (``` ```)\nYOU CAN NOT USE :\n- \"Here's a breakdown\", \n- \"Here's the summary\",\n- \"Okay, here's a breakdown of the provided text, categorized and summarized for clarity\",\n- or any other preamble. Go directly to the structured summary format.\n</output_formatting>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -20,
        -200
      ],
      "id": "a3e91192-55c8-4384-8d2e-fc6cc7321c98",
      "name": "Summarize Content",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52023808-641d-4f4d-9c8f-b51c9b3bbbd1",
              "name": "text",
              "value": "={{ $json.text.replace(/<think>[\\s\\S]*?<\\/think>/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -200
      ],
      "id": "6edc03ae-3932-4b6d-b8f1-98cb2e51f4cb",
      "name": "Format Output"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3080,
        180
      ],
      "id": "02eb922d-ae5c-4029-a01a-3a279989fa1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2100,
        280
      ],
      "id": "131b0ae1-bc12-48d8-a20d-bbffbf9b6bee",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "516c4ec9-fc16-4687-a376-86a79115afc8",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $('Settings').item.json['Current Time'].toDateTime().minus($('Settings').item.json['Last X Days'],'days').startOf('day') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1740,
        -200
      ],
      "id": "28c1347b-e54e-405e-ab0a-da6a422187da",
      "name": "Filter Last X Days",
      "notesInFlow": true,
      "notes": "This filter only news from last x days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93e02cc9-f9c9-4167-ad2c-688433aa9b36",
              "name": "Document",
              "value": "https://docs.google.com/spreadsheets/d/1i1p_DPymm8QeZrCLxs-Skz8BMSutKpUW4khzpiNBcYc/edit?gid=0#gid=0",
              "type": "string"
            },
            {
              "id": "c95234c3-baff-4dd6-a3ec-3a97a10e44c1",
              "name": "Articles Sheet",
              "value": "https://docs.google.com/spreadsheets/d/1i1p_DPymm8QeZrCLxs-Skz8BMSutKpUW4khzpiNBcYc/edit?gid=0#gid=0",
              "type": "string"
            },
            {
              "id": "c94d9441-3b2b-421b-bb57-cfa041b132d6",
              "name": "Rss Feeds",
              "value": "https://docs.google.com/spreadsheets/d/1i1p_DPymm8QeZrCLxs-Skz8BMSutKpUW4khzpiNBcYc/edit?gid=255338052#gid=255338052",
              "type": "string"
            },
            {
              "id": "94b40b88-6c7f-4bdf-8896-c8b9a4f6621f",
              "name": "Current Time",
              "value": "={{ \n  $workflow.trigger === 'Schedule Trigger' ? \n  $('Schedule Trigger').item.json.timestamp : \n  $now \n}}",
              "type": "string"
            },
            {
              "id": "eba798d1-5a87-4446-bdc4-63e8a27bc510",
              "name": "Last X Days",
              "value": 31,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2760,
        280
      ],
      "id": "852a3623-87a1-4a96-99f4-eb8303ab7c2c",
      "name": "Settings",
      "notesInFlow": true,
      "notes": "Set Here Your Gogle Sheets URLs and Last x Days Filter"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -60,
        -20
      ],
      "id": "7f3236e0-025d-496e-aacc-c74f15df3ec2",
      "name": "LLM Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cxxykvBVJ4BwAWb8",
          "name": "openrouter nimblio"
        }
      },
      "notes": "You can choose other LLM chat model"
    },
    {
      "parameters": {
        "content": "## Settings\n\n- Copy this Google Sheet : https://docs.google.com/spreadsheets/d/1i1p_DPymm8QeZrCLxs-Skz8BMSutKpUW4khzpiNBcYc/copy\n- Enter copied URL's in settings\n- Set up time gap for news from RSS",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        80
      ],
      "typeVersion": 1,
      "id": "e4b8e1da-e960-4774-8419-0ffce5df9b3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Loop for adding source name to RSS record",
        "height": 560,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2220,
        220
      ],
      "typeVersion": 1,
      "id": "472a0cbb-2b01-48c1-8472-8b0962269a80",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        -460
      ],
      "id": "94ead111-4efe-459d-9053-3ff7714d5b98",
      "name": "End of worfklow"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Rss Elements').item.json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -660,
        -200
      ],
      "id": "5e470cd5-23c9-4866-a18c-694bf1c021a9",
      "name": "Get Webpage HTML Content"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "body",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -460,
        -200
      ],
      "id": "8bc1cad5-fbbc-43fa-b41f-e668bf9bd8f8",
      "name": "Extract Body Content in HTML",
      "notes": "We need only body without images"
    },
    {
      "parameters": {
        "content": "## Google Sheets Columns\nGoogle Sheet Template: https://docs.google.com/spreadsheets/d/1i1p_DPymm8QeZrCLxs-Skz8BMSutKpUW4khzpiNBcYc/\n### Articles Sheet\n| pubDate    | source | title | link | categories | ai summary |\n### RSS FEEDS\n| RSS NAME | RSS URL | \n",
        "height": 280,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1080,
        300
      ],
      "typeVersion": 1,
      "id": "68bb881d-8c0c-4c21-9fab-237bcc42f76e",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Feed List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS": {
      "main": [
        [
          {
            "node": "Combine Rss with source name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Rss Elements": {
      "main": [
        [
          {
            "node": "End of worfklow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Row for URL is in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row for URL is in Sheets": {
      "main": [
        [
          {
            "node": "Check If Article Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown": {
      "main": [
        [
          {
            "node": "Summarize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Aummary to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Rss with source name": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Article Exists": {
      "main": [
        [
          {
            "node": "Get Webpage HTML Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Content": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Append Aummary to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter Last X Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Last X Days": {
      "main": [
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get RSS Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Webpage HTML Content": {
      "main": [
        [
          {
            "node": "Extract Body Content in HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body Content in HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d4b528a-4f45-4a3c-b9a9-58e885f6fdbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8794a4f970040d09c64040698c632aefaa9a59e97e60424e4b5671338351753"
  },
  "id": "4ugQDSCMUWFpn5qo",
  "tags": []
}